.conteudo {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    overflow: auto;
}

.links {
    margin-left: 10px;
}

.estiloTitulo {
    font-size: 1.3rem;
    margin-bottom: 20px;
    padding-bottom: 5px;
    
    border-bottom: 2px solid yellow;
    text-shadow: 0 0 5px rgb(0, 0, 0);
    color: yellow;
}

.estiloTexto {
    font-size: 1.3rem;
    color: #0F0;
    margin-top: 20px;
    text-align: left;
    margin: 0px;
}