.conteudo {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
}

.estiloTexto {
    font-size: 1.3rem;
    color: #0F0;
    margin-top: 20px;
    text-align: left;
    margin: 0px;
}

.espacoMeio {
    margin-top: 20px;
}

.highlight{
    color: #0F0;
}