.teste {
    border: solid 2px white;
}

.centralizarImagem {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.estiloDescricao {
    font-size: 1.3rem;
    color: #0F0;
    margin-top: 20px;
    text-align: center;
    margin: 0px;
}

.nomeDescricao{
    cursor: default;
    background-color: aliceblue;
    margin-bottom: 15px;
}

.nomeDescricao:hover {
    cursor: default;
}

.tamanhoImagem {
    width: 50%;
    margin: auto;
}

.leftAlign {
    align-self: left;
    text-align: left;
}